/*html, body,*{
margin: 0;
padding: 0;
}*/

/*Flex classes*/
.flex {
  display: flex;
}

.flex--column {
  flex-flow: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-items-vcenter {
  align-items: center;
}

.flex-center-center {
  justify-content: center !important;
  align-items: center !important;
}

.flex-start-center {
  justify-content: flex-start;
  align-items: center;
}

.flex-end-center {
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.flex-end-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.a-border-n{
    border: none !important;
}

.a-pad-lr-30{
    padding-left: 30px;
    padding-right: 30px;
}

.a-cursor-pointer{
    cursor:pointer;
}

.a-pad-5 {
    padding: 5px;
}

.a-mar-5 {
    margin: 5px;
}

.a-mar-b-5 {
    margin-bottom: 5px;
}

.a-mar-left-7 {
    margin-left: 7px;
}

.a-mar-left-5 {
    margin-left: 5px;
}

.a-width-168-xs {
    flex: 0 0 168px;
    width: 168px;
}

.lightgrey{
    background-color: #eee;
}

.calendar__days-header{
    box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}
.calendar-timeslot{
    border: 1px solid #eee;
}

.timeslot-grid{
    position:absolute;
    top:150px;
    width:100%;
}

.calendar__header--fixed{
    position:fixed;
    width:100%;
    z-index:99;
}

/*View navigator btns*/
.change-view{
    position: fixed;
    top: 0;
    left: 15%;
    z-index: 100;
}

.change-view__btn{
    color: grey;
    font-size: 14px;
    margin-right: 13px;
    transition: color 0.2s ease;
}

.change-view__btn:visited,
.change-view__btn:hover{
    color:#a6c;
}

.change-view__btn.active{
    color:#a6c;
    border-bottom: 1px solid #a6c;
}

/*Month view css*/
.month-calendar__container{
    border: 1px solid #f5f5f5;
}
.day-events{
    color: white;
}
.day-event__heading{
    font-size: 20px;
}

.month-cal__date{
    cursor: pointer;
    border:1px solid #fefefe;
    height: 85px;
}

.month-cal__date .event-indicator{
    position: absolute;
    width: 8px;
    height: 8px;
    top: 10px;
    left: 10px;
    background-color: #aa66cc;
    border-radius: 50%;
}

.month-cal__date > a{
    color: #666;
}

/*Event box css*/

.event-box{
    position: absolute;
    border: 1px solid #9933CC;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}

.event-box .event-box__name{
    color: white;
}

.add-event{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5; 
    transition: opacity 0.2s ease;
    font-size: 12px;
}

.add-event:hover{
    opacity: 0.9;
}

/*Form fields styling*/

.erro-msg{
 background-color: red;
 color: white;
 padding: 2px;
}

 input.form-control label.active{
    color: #aa66cc;
 }


input[type=text]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #aa66cc;
    box-shadow: 0 1px 0 0 #aa66cc;
}

input.ng-invalid.ng-dirty{
    border-color: red;
}

