<div class="container-fluid w-100">
    <div class="change-view ">
         <div class="row flex flex-center-center ">
            <div class="col-sm">
                <a class="change-view__btn" [class.active]="show == 'week'" href="javascript:void(0)" (click)="show = 'week'">Week</a>
                <a class="change-view__btn" [class.active]="show == 'month'" href="javascript:void(0)" (click)="show = 'month'">Month</a>
            </div>
        </div>
    </div>
   
    <week-calendar *ngIf="show == 'week'"></week-calendar>
    <month-calendar *ngIf="show == 'month'"></month-calendar>
</div>